.btn
    font-size: 0.9em
    color: #fff
    margin: 0.2em 0
    width: 180px
    text-align: center
    padding: 12px 24px
    display: inline-block
    vertical-align: middle
    border-radius: 4px
    border: none

.btn:hover
    border: none

.btn-primary
    background-color: #5dc596

.btn-default
    background-color: #cccccc

.btn-success
    background-color: #F5AB35
