footer
    background-color: $black-color
    width: 100%
    color: white
    text-align: right
    a
        color: white
    .footer-inner
        max-width: 640px
        margin: 0 auto
        padding: 20px 25px
        .footer-copy
            font-size: 18px
            margin-bottom: 20px
            text-align: right
            line-height: 1
        .footer-link
            font-size: 14px
            line-height: 1.8
            overflow: hidden
            a
                display: inline-block
                border: none
