header
    background: $haroid-color
    width: 100%
    .header-inner
        max-width: 640px
        margin: 0 auto
        h1
            text-align: left
            padding: 10px 10px 15px 10px
            a
                border: none
