@import "_reset"
@import "_base"
@import "_header"
@import "_footer"
@import "_buttons"

#app
    width: 100%
    height: 100%
    margin: 0 auto
    text-align: center

.wrap
    width: 100%

.wrap-inner
    max-width: 640px
    margin: 0 auto
    padding: 12px 12px 20px 12px
    img.top-logo
      width: auto
      max-width: 100%

.content
    margin: 0 auto
    padding: 12px
    background: white

.display-text
    margin: 0 auto
    line-height: 1.2
    font-weight: bold
    font-size: 18px
    letter-spacing: -0.05em

.display-text p a
    color: $brown-color
    border-bottom: 2px solid $brown-color

p.display-text-n04
    margin-bottom: 20px
    span
        font-size: 12px

.displayed-login-text1, .displayed-login-text2, .displayed-pointget-text1
    margin: 25px 0
    line-height: 1.2
    font-weight: bold
    font-size: 18px
    letter-spacing: -0.05em

.displayed-top-text-description
  margin: 25px 0
  line-height: 1.2
  font-weight: bold
  font-size: 14px
  letter-spacing: -0.05em


.displayed-complete-text1
    margin-bottom: 35px
    color: $brown-color
    font-size: 16px

.displayed-login-text2
    color: $brown-color
    font-size: 16px

.display-error-text
    margin: 40px auto 50px auto
    color: $brown-color
    font-size: 16px

.display-error-img
    margin: 50px auto

.getpoint, .login
    background-color: $yellow-color
    width: 86%
    min-width: 50%
    margin: 30px auto 10px auto
    padding: 15px 0
    border-radius: 30px
    font-weight: bold
    font-size: 22px
    letter-spacing: -0.05em
    cursor: pointer

.login:hover
  opacity: 0.8s

.btn-link
    color: white;
    background-color: $haroid-color
    width: 86%
    min-width: 50%
    margin: 30px auto 10px auto
    padding: 15px 0
    border-radius: 30px
    font-weight: bold
    font-size: 22px
    letter-spacing: -0.05em
    cursor: pointer

.btn-link:hover
  opacity: 0.8s

.point-notice
    font-size: 10px
    margin-bottom: 40px

a.tvshow-link
    border: 2px #00c8ff solid
    border-radius: 100px
    padding: 12px
    width: 85%
    margin: 0 auto 30px auto
    color: #00c8ff
    display: block
    font-size: 16px
    letter-spacing: -0.05em
    line-height: 1.4em
    font-weight: bold

ul.content-link
    margin: 60px auto 30px auto
    li
      margin-bottom: 15px
